
*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}



body{
    font-size: 16px;
    font-family: Be Vietnam;
}

.btn-two{
    background: hsl(12, 88%, 59%);
    width: 140px;
    border-radius: 30px;
    border: solid  hsl(12, 88%, 59%);
    color: white;
    float: right !important;
}


.btn-tw{
    background: hsl(0, 0%, 98%);
    width: 140px;
    border-radius: 30px;
    border: solid  hsl(0, 0%, 98%);
    color: black;
}

.btn-twt{
    background: hsl(0, 0%, 98%);
    width: 70%;
    border-radius: 30px;
    border: solid  hsl(0, 0%, 98%);
    color: black;
}

.btn-e{
    background: hsl(12, 88%, 59%);
    width: 140px;
    border-radius: 30px;
    border: solid  hsl(12, 88%, 59%);
    color: white;
}

.btn-three{
    background: hsl(12, 88%, 59%);
    width: 40px;
    border-radius: 10px;
    border: solid  hsl(12, 88%, 59%);
    color: white;
}

.nav-item{
    margin: 20px;
    font-weight: 800;
}

ul{
    cursor: pointer;
    list-style: none;
}

li:hover{
    cursor: pointer;
    color: chocolate;
}
.richard{
    background:  hsl(0, 0%, 98%);
}
 .anisha{
    background:  hsl(0, 0%, 98%);
}
 .ali{
    background:  hsl(0, 0%, 98%);
} 

/* contact section */

.contact-para{
    text-align: justify;
}

.contact-header{
    line-height: 50px;
}


.contact-btn{
    border: none;
}

.contact-btn:hover{
    background-color: gray;
    color: white;
    border-radius: 10px;
    border: none !important;
}

@media(max-width: 768px){
    footer{
        text-align: center;
    }

    .bring{
        text-align: center;
    }

    .what{
        text-align: center; 
    }

}

@media(max-width: 540px){
    input{
        padding: 10px;
        width: 100%;
        border-radius: 10px;
    }
}

@media(max-width: 320px){
    input{
        padding: 10px;
        width: 100%;
        border-radius: 10px;
    }

    .contact-btn{
        padding: 10px;
        width: 40%;
        border-radius: 10px;
        background: green;
        border: none;
        color: white;
    }

    .simpl{
        font-size: 30px;
    }
}